/* ===========================================================================================================
   Common font styles                                                                       
   =========================================================================================================== */
/* Body font style */
body {
  font: 83%/1.6em "Verdana", "Trebuchet MS", sans-serif;
  vertical-align: baseline;
}

/* ===========================================================================================================
   Headlines                                                                       
   =========================================================================================================== */
/**
  * @section main content
  * @subsection headings
  *
  * Headings
  */
h1 {
  color: black;
  margin: 0 0 0.667em;
}
