

//// DEMO //// DEMO //// DEMO //// DEMO //// DEMO //// DEMO //// DEMO //// DEMO //// DEMO //// DEMO 
#logo {
   height: 100px;
   @include grid-span(6);
   float: left;
}

#top-nav {
   float: left;
   height: 100px;
   @include grid-span(3);
   @include grid-space(3, "padding");
}

#footer .box {
   float: left;
   @include grid-span(2);
}

#infobox {
   float: left;
   @include grid-span(2, "first");
}

#infobox2 {
   float: left;
   @include grid-span(2, "last");
   @include grid-space(2, "margin");
}


@include hmenu("#nav ul");

#nav ul {

}

#nav {
   float: left;
   background: #efefef;
   @include grid-span($page-cols);
}

#nav a {
   padding: 2px 5px;
}
//// DEMO //// DEMO //// DEMO //// DEMO //// DEMO //// DEMO //// DEMO //// DEMO //// DEMO //// DEMO 