// Default font size
$font-size: 83%;

// Default line height
$line-height: 1.6em;

// Default font face
$font-family: "Verdana", "Trebuchet MS", sans-serif;

$font-size-h1: 2.4em;
$font-size-h2: 1.9em;



@mixin standard-text {
   font: #{$font-size}/#{$line-height} $font-family;
}

@mixin font($style, $variant, $weight, $size, $line-height, $family) {
   font: $style $variant $weight #{$size}/#{$line-height} $family;
}


/* ===========================================================================================================
   Common font styles                                                                       
   =========================================================================================================== */

/* Body font style */
body {
   @include standard-text;
   vertical-align: baseline;
   padding: $line-height*4;
}



/* ===========================================================================================================
   Headlines                                                                       
   =========================================================================================================== */

/**
  * @section content
  * @subsection headings
  *
  * Headings
  */

/* Heading 1 */
h1 {
   color: #f00;
   @include font(normal, normal, normal, $font-size-h1, $line-height*2/$font-size-h1, $font-family);
   margin: 0 0 $line-height/$font-size-h1*1.5 + em;
}

/* Heading 2 */
h2 {
   color: #00f;
   @include font(normal, normal, normal, $font-size-h2, $line-height/$font-size-h2, $font-family);
   margin: $line-height/$font-size-h2/2 + em 0 $line-height/$font-size-h2/2 + em;
}